<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FSPoland</title>
</head>
<body>
    <H1>Contestants:</H1>
    {% if team_name != '' %}
        <h2>{{team_name}}</h2>
    {% endif %}
    {% if value != [] %}
        <table border="2">
            <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date Of Birth</th>
                <th>Team Name</th>
                <th>Member Type</th>
            </tr>
            </thead>
            <tbody>
                {% for row in value %}
                    <tr>
                        <td>{{row[0]}}</td>
                        <td>{{row[1]}}</td>
                        <td>{{row[2]}}</td>
                        <td>{{row[3]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</body>
</html>