<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FSPoland</title>
</head>
<body>
    <H1>Teams:</H1>
    {% if value != [] %}
        <table border="2">
            <thead>
            <tr>
                <th>Name</th>
                <th>College</th>
                <th>City</th>
                <th>Country</th>
            </tr>
            </thead>
            <tbody>
                {% for row in value %}
                    <tr>
                        <td>{{row[1]}}</td>
                        <td>{{row[4]}}</td>
                        <td>{{row[5]}}</td>
                        <td>{{row[6]}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</body>
</html>